body{
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    
    font-size: 9px, 7px;
    

}
*,
*::before
*::after
{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/*-------------------------*/
.logo{
    font-family: 'Kaushan Script', cursive;
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    height: 60px;
    align-items: center;
    justify-content: space-between;

}
/*-------------link--------------*/
.header__link{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 15px;
 
    transition: color .2s linear ;
     color: #fff;
     text-decoration: none;
 }
 .header__link:after {
     content: "";
     display: block;
     width: 100%;
     height: 3px;
     background-color: #c08c1b ;
 
 }
 
 
/*---------------------------------*/


.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #282828;
    z-index: 2;
    box-shadow: 0 0 10px 0 black;
}
/* Back Ground*/
.bg {
    width: 100%;
    height: 100vh;
    background: url("imeges/BG1.jpg" )center,center, no-repeat;
    background-color: #282828;
    -webkit-background-size: cover;
    background-size: cover;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.header__logo {
    position: relative;
    padding: 5;
    z-index: 5;
    font-family: 'Kaushan Script', cursive;
    
    color: #c08c1b;
    padding: 10px;
}



.header__list li {
    list-style: none;
    margin: 0 0 1 10px;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;

}

.header__menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    transition-duration: 0.5s;
    transition-property: transform;
}

.header__link:hover {
    transform: scale(1.3);
}

.header__burger {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-----------------------pro nas-------------------*/
.maps{
    position:absolute;
    top: 10%;
    padding-left: 10px;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro_title{
    
color: #bc881b;
font-size: 50px;
text-transform: uppercase;
}

.intro_text{
color: #bc881b;

margin:1px auto;
}
.intro_iner{
    width: 100%;
    max-width:  800px;
    margin:0 auto;
    position: absolute;
    top: 28%;
    padding: 10px;
}

/*--------------------------delivery---------------*/
.deliv{
    color: #bc881b;
    position: absolute;
    left: 2%;
    top: 30%;
}
/*----------------------------menu-----------------------*/
.text_menu{
    width: 100%;
    max-width: 260px;
    color: #fff;
    background-color: #282828;
}
.text_posit{
    position: absolute;
    top: 20%;
    padding: 10px;
}
.fon{
 
    background-color: #8e8d8a;
}
.money{
    position: relative;
    left: 10%;
}

/*----------------------------promo------------------*/
.prom1{
    color: #c08c1b;
    align-content: center;
    position: absolute;
    top: 40%;
    left: 7%;

}
.but{
    color: #c08c1b;
    background:  #282828;
}
.text_pr1{
    position: relative;
    left: 40px;
    font-size: 10;
}
/*---------------glob-----------------*/
.text2{
  color: #c08c1b;
  position: absolute;
  top: 30%;
  left: 300px;
  

  height: 100%;
  max-height: 60;

}
  



.img{
    position: absolute;
  top: 20%;
  left: 10px;
    width: 100%;
    max-width: 280px;
}


/*---------------MEDIA----------------*/

@media (max-width:883px) {
    .intro_iner{
        width: 100%;
        max-width:  650px;
        margin:0 auto;
        position: absolute;
        top: 30%;
    }
    .intro_title{ font-size: 19px; }
 .intro_text{ font-size: 8px; }
    .maps{
        top: 10%;
         width: 100%;
        max-width: 280px;
    }
    .header__body {
        height: 50px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 5;
    }

    .header__burger span {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: aliceblue;
        top: 9px;
        height: 2px;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: aliceblue;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        right: 0;
        height: 35%;
        width: 35%;
        text-align: center;
        background-color: #8b8b8b;
        padding: 70px 10px 20px 0;
        transition: all 0.3s ease 0s;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 black;
    }

    .header__menu.active {
        top: 0;
        height: 35%;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        margin: 0 0 10px 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }
}
@media (max-width:425px){
    .text2{
        color: #c08c1b;
        position: absolute;
        top: 50%;
        left: 10px;
        
      
        height: 100%;
        max-height: 60;
    }
    
    .intro_iner{
        width: 100%;
        max-width:  320px;
        margin:0 auto;
        position: absolute;
        top: 30%;
    }
    .intro_title{ font-size: 19px; 
        width: 100%;
    max-width: 280;}
 .intro_text{ font-size: 8px; width: 100%;
    max-width: 280;}
    .maps{
        top: 10%;
         width: 100%;
        max-width: 280px;
    }
    .deliv_text{font-size: 8px;}
}
@media (max-width:320px){
    .intro_iner{
        width: 100%;
        max-width:  300px;
        margin:0 auto;
        position: absolute;
        top: 30%;
    }
    .intro_title{ font-size: 19px; 
        width: 100%;
    max-width: 280;}
 .intro_text{ font-size: 8px; width: 100%;
    max-width: 280;}
    .maps{
        top: 10%;
         width: 100%;
        max-width: 280px;
    }
    .deliv_text{font-size: 8px;}
}
